:root {
    --red-color: rgb(152, 0, 0);
    --red-color-light: rgb(255, 0, 0);
    --yellow-color: rgb(207, 207, 0);
    --base-color: #53940d;
    --base-light-color: #86D72F;
    --base-dark-color: rgb(78, 135, 17);
    --dark-color: #2b2b2b;
    --white-color: rgb(255, 255, 255);
    --grey-color: rgb(132, 131, 131);
    --light-grey-color: rgb(180, 180, 180);
    --dark-grey-color: rgb(68, 68, 68);

    --transition-time: 0.1s;
}