h1 {
    color: var(--base-light-color);
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.optionMenu {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    color: var(--white-color);
}

.chosen {
    color: var(--grey-color);
    transition: var(--transition-time);
}

.notChosen {
    color: var(--grey-color);
    transition: var(--transition-time);
}

a:hover {
    cursor: pointer;
    transition: var(--transition-time);
    background-color: var(--dark-grey-color);
}

a {
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}